{% extends "layout.html" %} 

{% block head %} 
    <link rel="stylesheet" href="static/style/basic.css">
    <title>Code Infinity</title> 
{% endblock %}

{% block body %}
	<h1 class="main" onclick="remove()">CSE AIML</h1>
    <h6 class="bran">This webpage for timetable and updates of academic information</h6>
    <ul>
        <li><a href="https://drive.google.com/drive/folders/1FP5ui0JRElOz3vf06oduINsf9DB_TltQ" >1st and 2nd semester</a></li>
        <li><a href="https://drive.google.com/drive/folders/1t-ExZmXIDWexspVN2mvXSdiXTS8ltl7R" >3rd semester</a></li>
        <li><a href="https://drive.google.com/drive/folders/1KFnhh-1RLuLWJ3I4dkjq4oQUejr7plwh">4th semester</a></li> 
    </ul>
{% endblock %}