{% extends "layout.html" %} 

{% block head %} 
    <link rel="stylesheet" href="static/style/auth.css">
    <title>Code Infinity</title> 
{% endblock %}

{% block style %} 

{% endblock %} 

{% block body %} 
<h2>Login Form</h2>

<form action="/login" method="post">
    <div class="imgcontainer">
        <img src="static/img/avatar.jpg" alt="Avatar" class="avatar">
    </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required autofocus >

    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd" required autofocus autocomplete="off">
    
    <p id="error"> {{ message }}</p>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <div class="container signin">
        <p> Don't have accout ? <a href="/register">Register</a>.</p>
        <span class="pwd">Forgot <a href="#">password?</a></span>
      </div>
  </div>
</form>
{% endblock %}